#ad
{
  position: absolute;
  top:8px;
  left:28.1%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}

#intro
{
  position: absolute;
  top:8px;
  left:28.1%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}